<!-- The Footer -->

<footer
  aria-label="Site Info"
  class="
    d-flex flex-column justify-content-center text-muted
    flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3
  "
>

  <p>
      <a href="https://articleos.kayak.eu.org" target="_blank" rel="noopener">ArticleOS</a>
  </p>

  <p>
      <a href="https://articleos.kayak.eu.org/conferencelist" target="_blank" rel="noopener">ConferenceList</a>
  </p>

  <p>
      <a href="https://articleos.kayak.eu.org/universitylist" target="_blank" rel="noopener">UniversityList</a>
  </p>

  <p>
      <a href="https://articleos.kayak.eu.org/ujoblist" target="_blank" rel="noopener">UJobList</a>
  </p>



  <p>
© 2024 ArticleOS
  </p>
</footer>