<!-- The Footer -->

<footer
  aria-label="Site Info"
  class="
    d-flex flex-column justify-content-center text-muted
    flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3
  "
>

  <p>
      <a href="https://articleos.github.io" target="_self" rel="noopener">ArticleOS</a>
  </p>

  <p>
      <a href="https://articleos.github.io/conferencelist" target="_self" rel="noopener">ConferenceList</a>
  </p>

  <p>
      <a href="https://articleos.github.io/universitylist" target="_self" rel="noopener">UniversityList</a>
  </p>

  <p>
      <a href="https://articleos.github.io/ujoblist" target="_self" rel="noopener">UJobList</a>
  </p>



  <p>
© 2024 ArticleOS
  </p>
</footer>